body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.navigation ul {
  margin: 0;
  padding: 0; /* Most developers reset the margin/padding to 0 so they can start a clean slate */
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
  list-style-type:none /* removes the bullets in lists */
}

.navigation  li.logo {
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}

#banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white; /* border can be set to 1 line of code 'size weight color'*/
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

#main {
  margin: 0 auto; /* margin: 0 auto horizontally centers an element inside of its parent content area, if it has a width. */
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
  overflow: scroll; /* The overflow property can be set to visible, hidden, or scroll, and dictates how 
						HTML will render content that overflows its parent's content area. */
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 1px dotted red;  /* border can be set to 1 line of code 'size weight color'*/
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px; /* Add padding 10px from top and bottom 20px from left and right. */
  /*min-width: 200px; this property ensures a minimum width of an element's box.
  max-width: 800px; this property ensures a maximum width of an element's box.
  min-height: 200px; this property ensures a minimum height for an element's box
  max-height: 300px; this property ensures a maximum height of an element's box. */ 
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px; /* You can modify corner of border */
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}

.donate {
	visibility: hidden; /*The visibility property can hide or show elements. 
		The difference between display: none and visibility: hidden is that visibility: none hides the element but maintains the space */
}